@namespace MudBlazor.Extensions
@inherits MudComponentBase

<MudPaper Class="@Classname" Elevation="@Elevation" Height="@Height" MaxHeight="@MaxHeight" MaxWidth="@MaxWidth" MinHeight="@MinHeight" MinWidth="@MinWidth" Outlined="@Outlined" Square="@Square" Style="@Style" Tag="@Tag" UserAttributes="@UserAttributes" Width="@Width">
    <MudPaper Class="@ToolBarClassname" Elevation="@ToolBarElevation" Outlined="@ToolBarOutlined" Square="@Square">
        @foreach (var option in _toolBarOption.Options) {
            <CascadingValue Value="@this">
                <CascadingValue Value="@option">
                    <DynamicComponent Type="@option.Type.ComponentType"/>
                </CascadingValue>
            </CascadingValue>
        }
    </MudPaper>

    <div id="@EditorContainerId" @ref="_quillElement" class="overflow-y-scroll d-flex mud-editor-container">
    </div>
</MudPaper>