@inherits ToolBarBase

@namespace MudBlazor.Extensions.ToolBarComponents
<div class="mud-editor-picker d-flex">
    <MudColorPicker @ref="_picker" TextChanged="OnValueChanged" Text="@Value.StrValue" />
    <MudIconButton Class="pa-0" Icon="@Option.Icon" Color="@Color" Size="Size.Small" OnClick="@Open" Style="@_fontStyle" Title="@Option.Label"></MudIconButton>
</div>

@code {
    private MudColorPicker? _picker;
    private string? _fontStyle;

    protected override void OnValueChanged() => _fontStyle = string.IsNullOrEmpty(Value.StrValue) ? null : $"color:{Value.StrValue}";

    private void Open() {
        _picker!.Open();
    }

}