@inherits ToolBarBase

@namespace MudBlazor.Extensions.ToolBarComponents
<div class="mud-editor-picker d-flex">
    <MudColorPicker @ref="_picker" Text="@_colorValue" TextChanged="TextChanged" />
    <MudIconButton Color="@Editor.ToolBarColor" Icon="@Option.Icon" OnClick="@Open" Size="Size.Small" Style="@($"color: {_colorValue};")" Title="@Option.Label" Variant="@Editor.ToolBarVariant"></MudIconButton>
</div>

@code {
    private MudColorPicker? _picker;
    private string _colorValue = null!;

    private async void TextChanged(string value) {
        if(Value as string != value)
            await Editor.SetFormat(Option.Attrib, value);
    }

    protected override void OnValueChanged() => _colorValue = (Value as string)!;

    private void Open() {
        _picker!.Open();
    }

}