@using MudBlazor.Utilities
@inherits ToolBarBase
@namespace MudBlazor.Extensions.ToolBarComponents
<div class="flex-none">
    <MudSelect AdornmentColor="@(Active? Editor.ToolBarActiveColor: Editor.ToolBarColor)" Class="@Classname" Dense="true" Margin="Margin.Dense" PopoverClass="@Classname" T="object" Value="@Value" ValueChanged="ValueChanged" Variant="@Editor.ToolBarVariant">
        @foreach (var option in Option.Options) {
            <MudSelectItem Value="@option.AttribValue"></MudSelectItem>
        }
    </MudSelect>
</div>

@code {
    private string Classname => new CssBuilder()
        .AddClass("mud-editor-toolbar-list")
        .AddClass("pa-0")
        .AddClass("ma-0")
        .Build();


    private async void ValueChanged(object value) => await Editor.SetFormat(Option.Attrib, value.Equals(Value)? null: value);

}